version: "3.9"

services:
  homeassistant:
    container_name: homeassistant-dev
    image: ghcr.io/home-assistant/home-assistant:stable
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      - TZ=Europe/Paris
    volumes:
      - ./config:/config
      - ./custom_components:/config/custom_components
      - ../intuis-schedule-card/dist/intuis-schedule-card.js:/config/www/intuis-schedule-card.js:ro
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123"]
      interval: 30s
      timeout: 10s
      retries: 5
